# Ant
build.xml
local.properties

# Maven
target/
pom.xml.*
release.properties

# Eclipse
.classpath
.project
.externalToolBuilders/

# IntelliJ
out/
.idea/
.idea_modules/
*.iml
*.ipr
*.iws

META-INF
*.db

Main2.java